body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f7fc;
}

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.btn{
    border-radius:8px;
}

h1,h2,h3{
    font-weight:bold;
}

footer{
    margin-top:60px;
}
.container{
    max-width:1200px;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0px 10px 25px rgba(0,0,0,0.2);
}

.btn{
    border-radius:10px;
}

.card h3{
    font-size:28px;
}

.card p{
    font-size:18px;
}

body{
    background:#eef3f9;
}